body{
    background: blue;
    font-family: arial;
  }
  .menu ul {
    background-color: white;
    display: flex;
    justify-content: space-around
  }
  a {
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
  .menu li {
    list-style: none;
  }
  .site-subtitle,
  .site-title {
    text-align: center;
    color: whitesmoke;
    font-style: italic;
  }